#home {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-background-general-header);
  overflow-x: hidden;
}
