#home {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  header {
    background: var(--color-background-general-header);
  }
  .main {
    backdrop-filter: blur(16px);
  }
}
