.experienceContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;
  row-gap: 32px;

  .header {
    width: 100%;
    text-align: right;
    color: var(--color-text-neutral-900);
    font: var(--typography-title3);
  }
  .content {
    width: 100%;
    display: flex;
    column-gap: 24px;
    row-gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }
}

@media (min-width: 992px) {
  .experienceContainer {
    padding: 0px 80px 0px 80px;
  }
}
