.skillsContainer {
  width: 100%;

  .header {
    width: 100%;
    text-align: center;
    color: var(--color-text-neutral-900);
    font: var(--typography-title3);
  }
}

@media (min-width: 992px) {
}
