.themeButton {
  left: 95vw;
  bottom: 3vh;
  z-index: 100000;
  color: var(--color-icons-neutral-50-normal);

  :hover {
    color: var(--color-icons-neutral-50-normal);
  }

  svg {
    height: 40px;
  }
}

@media (min-width: 992px) {
  .themeButton {
    :hover {
      cursor: pointer;
    }

    svg {
      height: 32px;
    }
  }
}
