html[data-theme='dark'] {
  --color-global-primary-200: #e2f5ff;
  --color-global-primary-300: #c0d0e9;
  --color-global-primary-400: #71add9;
  --color-global-primary-500: #4687bd;
  --color-global-primary-600: #001f36;
  --color-global-secondary-200: #ffedfd;
  --color-global-secondary-300: #f5b8ef;
  --color-global-secondary-400: #ff88f3;
  --color-global-secondary-500: #f85efb;
  --color-global-semantic-info: #367ce5;
  --color-global-semantic-alert: #ffed48;
  --color-global-semantic-success: #5ef351;
  --color-global-semantic-error: #ff3a3a;
  --color-global-neutral-50: #ffffff;
  --color-global-neutral-100: #f5f5f5;
  --color-global-neutral-150: #e4e4e4;
  --color-global-neutral-300: #b3b3b3;
  --color-global-neutral-400: #7c7c7c;
  --color-global-neutral-500: #414141;
  --color-global-neutral-900: #101010;
  --color-global-neutral-1000: #000;
  --color-background-container-neutral1-normal: #414141;
  --color-background-container-neutral1-hover: #4d4d4d;
  --color-background-container-neutral1-click: #747474;
  --color-background-container-transparent050-normal: #41414180;
  --color-background-container-transparent050-hover: #4d4d4d80;
  --color-background-container-transparent050-click: #74747480;
  --color-background-container-transparent025-normal: #41414140;
  --color-background-container-transparent025-hover: #4d4d4d40;
  --color-background-container-transparent025-click: #74747440;
  --color-background-tag-neutral1-normal: #ffffff;
  --color-background-tag-neutral1-click: #b3b3b3;
  --color-background-tag-primary-normal: #4687bd;
  --color-background-tag-primary-click: #71add9;
  --color-background-tag-neutral2-normal: #b3b3b3;
  --color-background-tag-neutral2-click: #b3b3b3;
  --color-background-tag-secondary-normal: #ff88f3;
  --color-background-tag-secondary-click: #f5b8ef;
  --color-background-button-primary-normal: #4687bd;
  --color-background-button-primary-hover: #71add9;
  --color-background-button-secondary-normal: #ff88f3;
  --color-background-button-secondary-hover: #f5b8ef;
  --color-background-button-special-special1: conic-gradient(
    from 180deg at 50% 50%,
    #f85efb 58.12499821186066deg,
    #4687bd 161.2499964237213deg,
    #71add9b8 279.3750071525574deg
  );
  --color-background-button-neutral-50-normal: #ffffff;
  --color-background-button-neutral-50-hover: #b3b3b3;
  --color-background-general-certifications: linear-gradient(90deg, #011a2d 0%, #101010 100%);
  --color-background-general-body: linear-gradient(180deg, #000609 0%, #0f0f0f 88.54%);
  --color-background-general-header: linear-gradient(243deg, #001f36 19.81%, #000 75.98%);
  --color-background-general-footer: #000;
  --color-background-general-concepts: linear-gradient(90deg, #000d16 37.53%, #000 99.9%);
  --color-background-general-navheader: #414141b8;
  --color-text-neutral-50: #101010;
  --color-text-neutral-100: #414141;
  --color-text-neutral-150: #7c7c7c;
  --color-text-neutral-300: #b3b3b3;
  --color-text-neutral-400: #e4e4e4;
  --color-text-neutral-500: #f5f5f5;
  --color-text-neutral-900: #ffffff;
  --color-text-special-principle: #ffffff40;
  --color-text-on-footer300: #f5f5f5;
  --color-icons-neutral-50-normal: #ffffff;
  --color-icons-neutral-50-hover: #7c7c7c;
  --color-icons-neutral-400-normal: #7c7c7c;
  --color-icons-neutral-400-hover: #414141;
  --color-icons-neutral-500-normal: #414141;
  --color-icons-neutral-500-hover: #101010;
  --color-view-shadow-primary: #001f36;
  --color-view-shadow-secondary: #ff88f3;
  --color-view-shadow-neutral: #101010;
  --color-circle-header: linear-gradient(
    161deg,
    rgba(7, 7, 7, 0.92) 25.49%,
    rgba(0, 0, 0, 0) 68.7%
  );
  --color-circle-values: linear-gradient(161deg, #001f36 16.89%, rgba(0, 0, 0) 49.44%);
  --color-circle-concepts: linear-gradient(161deg, #001f36 16.89%, rgba(0, 0, 0, 0) 50.26%);
  --color-circle-certifications: linear-gradient(161deg, #001f36 16.89%, rgba(0, 0, 0, 0) 50.26%);
  --border-radius-circle: 100%;
  --border-radius-large: 16%;
  --border-radius-medium: 8%;
  --border-radius-small: 4%;
  --border-radius-zero: 0%;
  --typography-super-title: 700 96em Roboto;
  --typography-title1: 700 64em Roboto;
  --typography-title2: 600 48em Roboto;
  --typography-title3: 600 40em Roboto;
  --typography-title4: 600 32em Roboto;
  --typography-subtitle: 600 24em Roboto;
  --typography-body: 400 20em Roboto;
  --typography-small: 500 16em Roboto;
  --typography-super-small: 500 12em Roboto;
  --typography-extra-small: 600 10em Roboto;
  --font-families-roboto: Roboto;
  --line-heights-0: AUTO;
  --font-weights-roboto-0: ExtraBold;
  --font-weights-roboto-1: Bold;
  --font-weights-roboto-2: Regular;
  --font-weights-roboto-3: SemiBold;
  --font-size-0: 10;
  --font-size-1: 12;
  --font-size-2: 16;
  --font-size-3: 20;
  --font-size-4: 24;
  --font-size-5: 32;
  --font-size-6: 40;
  --font-size-7: 48;
  --font-size-8: 64;
  --font-size-9: 96;
  --letter-spacing-0: 0%;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
  --breakpoint-big-screen: 1200px;
  --breakpoint-medium-screen: 992px;
  --breakpoint-small-screen: 768px;
  --breakpoint-super-small-screen: 576px;
  --box-shadow-container-mild-normal: 0px 4px 64px 0px #7c7c7c26;
  --box-shadow-container-mild-hover: 0px 4px 64px 0px #41414105;
  --box-shadow-container-intense-normal: 0px 4px 32px 0px #41414141;
  --box-shadow-container-intense-hover: 0px 4px 32px 0px #41414105;
  --box-shadow-circle-header: 0px 4px 88px 0px #0e3451;
  --box-shadow-circle-values: 0px 4px 65px 0px #003963;
  --box-shadow-circle-certifications: 0px 4px 65px 0px #003963;
  --box-shadow-circle-concepts: 0px 4px 65px 0px #003963;
}
