html[data-theme='dark'] {
  --color-global-primary-200: #E2F5FF;
  --color-global-primary-300: #C0D0E9;
  --color-global-primary-400: #71ADD9;
  --color-global-primary-500: #4687bd;
  --color-global-primary-600: #001F36;
  --color-global-secondary-200: #FFEDFD;
  --color-global-secondary-300: #F5B8EF;
  --color-global-secondary-400: #FF88F3;
  --color-global-secondary-500: #F85EFB;
  --color-global-semantic-info: #367CE5;
  --color-global-semantic-alert: #FFED48;
  --color-global-semantic-success: #5EF351;
  --color-global-semantic-error: #FF3A3A;
  --color-global-neutral-50: #FFFFFF;
  --color-global-neutral-100: #F5F5F5;
  --color-global-neutral-150: #E4E4E4;
  --color-global-neutral-300: #B3B3B3;
  --color-global-neutral-400: #7C7C7C;
  --color-global-neutral-500: #414141;
  --color-global-neutral-900: #101010;
  --color-global-neutral-1000: #000;
  --color-background-container-neutral1-normal: #414141;
  --color-background-container-neutral1-hover: #4d4d4d;
  --color-background-container-neutral1-click: #747474;
  --color-background-container-transparent050-normal: #41414180;
  --color-background-container-transparent050-hover: #4d4d4d80;
  --color-background-container-transparent050-click: #74747480;
  --color-background-container-transparent025-normal: #41414140;
  --color-background-container-transparent025-hover: #4d4d4d40;
  --color-background-container-transparent025-click: #74747440;
  --color-background-tag-neutral1-normal: #FFFFFF;
  --color-background-tag-neutral1-click: #B3B3B3;
  --color-background-tag-primary-normal: #4687bd;
  --color-background-tag-primary-click: #71ADD9;
  --color-background-tag-neutral2-normal: #B3B3B3;
  --color-background-tag-neutral2-click: #B3B3B3;
  --color-background-tag-secondary-normal: #FF88F3;
  --color-background-tag-secondary-click: #F5B8EF;
  --color-background-button-primary-normal: #4687bd;
  --color-background-button-primary-hover: #71ADD9;
  --color-background-button-secondary-normal: #FF88F3;
  --color-background-button-secondary-hover: #F5B8EF;
  --color-background-button-special-special1: conic-gradient(from 180deg at 50% 50%, #F85EFB 58.12499821186066deg, #4687bd 161.2499964237213deg, #71ADD9b8 279.3750071525574deg);
  --color-background-button-neutral-50-normal: #FFFFFF;
  --color-background-button-neutral-50-hover: #B3B3B3;
  --color-background-general-certifications: linear-gradient(90deg, #011A2D 0%, #101010 100%);
  --color-background-general-body: linear-gradient(180deg, #000609 0%, #0F0F0F 88.54%);
  --color-background-general-header: linear-gradient(243deg, #001F36 19.81%, #000 75.98%);
  --color-background-general-footer: #000;
  --color-background-general-concepts: linear-gradient(90deg, #000D16 37.53%, #000 99.9%);;
  --color-background-general-navheader: #414141B8;
  --color-text-neutral-50: #101010;
  --color-text-neutral-100: #414141;
  --color-text-neutral-150: #7C7C7C;
  --color-text-neutral-300: #B3B3B3;
  --color-text-neutral-400: #E4E4E4;
  --color-text-neutral-500: #F5F5F5;
  --color-text-neutral-900: #FFFFFF;
  --color-text-special-principle: #FFFFFF40;
  --color-icons-neutral-50-normal: #FFFFFF;
  --color-icons-neutral-50-hover: #7C7C7C;
  --color-icons-neutral-400-normal: #7C7C7C;
  --color-icons-neutral-400-hover: #414141;
  --color-icons-neutral-500-normal: #414141;
  --color-icons-neutral-500-hover: #101010;
  --color-view-shadow-primary: #001F36;
  --color-view-shadow-secondary: #FF88F3;
  --color-view-shadow-neutral: #101010;
  --color-circle-header: linear-gradient(161deg, rgba(7, 7, 7, 0.92) 25.49%, rgba(0, 0, 0, 0.00) 68.7%);
  --color-circle-values: linear-gradient(161deg, #001F36 16.89%, rgba(0, 0, 0) 49.44%);
  --color-circle-concepts: linear-gradient(161deg, #001F36 16.89%, rgba(0, 0, 0, 0.00) 50.26%);
  --color-circle-certifications: linear-gradient(161deg, #001F36 16.89%, rgba(0, 0, 0, 0.00) 50.26%);
  --border-radius-circle: 100%;
  --border-radius-large: 16%;
  --border-radius-medium: 8%;
  --border-radius-small: 4%;
  --border-radius-zero: 0%;
  --typography-super-title: 700 96em Roboto;
  --typography-title1: 700 64em Roboto;
  --typography-title2: 600 48em Roboto;
  --typography-title3: 600 40em Roboto;
  --typography-title4: 600 32em Roboto;
  --typography-subtitle: 600 24em Roboto;
  --typography-body: 400 20em Roboto;
  --typography-small: 500 16em Roboto;
  --typography-super-small: 500 12em Roboto;
  --typography-extra-small: 600 10em Roboto;
  --font-families-roboto: Roboto;
  --line-heights-0: AUTO;
  --font-weights-roboto-0: ExtraBold;
  --font-weights-roboto-1: Bold;
  --font-weights-roboto-2: Regular;
  --font-weights-roboto-3: SemiBold;
  --font-size-0: 10;
  --font-size-1: 12;
  --font-size-2: 16;
  --font-size-3: 20;
  --font-size-4: 24;
  --font-size-5: 32;
  --font-size-6: 40;
  --font-size-7: 48;
  --font-size-8: 64;
  --font-size-9: 96;
  --letter-spacing-0: 0%;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
  --breakpoint-big-screen: 1200px;
  --breakpoint-medium-screen: 992px;
  --breakpoint-small-screen: 768px;
  --breakpoint-super-small-screen: 576px;
  --box-shadow-container-mild-normal: 0px 4px 64px 0px #7C7C7C26;
  --box-shadow-container-mild-hover: 0px 4px 64px 0px #41414105;
  --box-shadow-container-intense-normal: 0px 4px 32px 0px #41414141;
  --box-shadow-container-intense-hover: 0px 4px 32px 0px #41414105;
  --box-shadow-circle-header: 0px 4px 88px 0px #0E3451;
  --box-shadow-circle-values: 0px 4px 65px 0px #003963;
  --box-shadow-circle-certifications: 0px 4px 65px 0px #003963;
  --box-shadow-circle-concepts: 0px 4px 65px 0px #003963;
}
