:root[data-theme=''] {
  --color-global-primary-200: #e2f5ff;
  --color-global-primary-300: #c0d0e9;
  --color-global-primary-400: #71add9;
  --color-global-primary-500: #4687bd;
  --color-global-primary-600: #001f36;
  --color-global-secondary-200: #ffedfd;
  --color-global-secondary-300: #f5b8ef;
  --color-global-secondary-400: #ff88f3;
  --color-global-secondary-500: #f85efb;
  --color-global-semantic-info: #367ce5;
  --color-global-semantic-alert: #ffed48;
  --color-global-semantic-success: #5ef351;
  --color-global-semantic-error: #ff3a3a;
  --color-global-neutral-50: #ffffff;
  --color-global-neutral-100: #f5f5f5;
  --color-global-neutral-150: #e4e4e4;
  --color-global-neutral-300: #b3b3b3;
  --color-global-neutral-400: #7c7c7c;
  --color-global-neutral-500: #b3b3b3;
  --color-global-neutral-900: #101010;
  --color-global-neutral-1000: #000000;
  --border-radius-circle: 100;
  --border-radius-large: 16;
  --border-radius-medium: 8;
  --border-radius-small: 4;
  --border-radius-zero: 0;
  --typography-super-title: 700 96pt Roboto;
  --typography-title1: 700 64pt Roboto;
  --typography-title2: 600 48pt Roboto;
  --typography-title3: 600 40pt Roboto;
  --typography-title4: 600 32pt Roboto;
  --typography-subtitle: 600 24pt Roboto;
  --typography-body: 400 20pt Roboto;
  --typography-small: 500 16pt Roboto;
  --typography-super-small: 500 12pt Roboto;
  --typography-extra-small: 600 10pt Roboto;
  --font-families-roboto: Roboto;
  --line-heights-0: AUTO;
  --font-weights-roboto-0: ExtraBold;
  --font-weights-roboto-1: Bold;
  --font-weights-roboto-2: Regular;
  --font-weights-roboto-3: SemiBold;
  --font-size-0: 10;
  --font-size-1: 12;
  --font-size-2: 16;
  --font-size-3: 20;
  --font-size-4: 24;
  --font-size-5: 32;
  --font-size-6: 40;
  --font-size-7: 48;
  --font-size-8: 64;
  --font-size-9: 96;
  --letter-spacing-0: 0%;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
}
