html[data-theme=''] {
  --color-global-primary-200: #E2F5FF;
  --color-global-primary-300: #C0D0E9;
  --color-global-primary-400: #71ADD9;
  --color-global-primary-500: #4687bd;
  --color-global-primary-600: #001F36;
  --color-global-secondary-200: #FFEDFD;
  --color-global-secondary-300: #F5B8EF;
  --color-global-secondary-400: #FF88F3;
  --color-global-secondary-500: #F85EFB;
  --color-global-semantic-info: #367CE5;
  --color-global-semantic-alert: #FFED48;
  --color-global-semantic-success: #5EF351;
  --color-global-semantic-error: #FF3A3A;
  --color-global-neutral-50: #FFFFFF;
  --color-global-neutral-100: #F5F5F5;
  --color-global-neutral-150: #E4E4E4;
  --color-global-neutral-300: #B3B3B3;
  --color-global-neutral-400: #7C7C7C;
  --color-global-neutral-500: #414141;
  --color-global-neutral-900: #101010;
  --color-global-neutral-1000: #000;
  --border-radius-circle: 100%;
  --border-radius-large: 16%;
  --border-radius-medium: 8%;
  --border-radius-small: 4%;
  --border-radius-zero: 0%;
  --typography-super-title: 700 96px Roboto;
  --typography-title1: 700 64px Roboto;
  --typography-title2: 600 48px Roboto;
  --typography-title3: 600 40px Roboto;
  --typography-title4: 600 32px Roboto;
  --typography-subtitle: 600 24px Roboto;
  --typography-body: 400 20px Roboto;
  --typography-small: 500 16px Roboto;
  --typography-super-small: 500 12px Roboto;
  --typography-extra-small: 600 10px Roboto;
  --font-families-roboto: Roboto;
  --line-heights-0: AUTO;
  --font-weights-roboto-0: ExtraBold;
  --font-weights-roboto-1: Bold;
  --font-weights-roboto-2: Regular;
  --font-weights-roboto-3: SemiBold;
  --font-size-0: 10;
  --font-size-1: 12;
  --font-size-2: 16;
  --font-size-3: 20;
  --font-size-4: 24;
  --font-size-5: 32;
  --font-size-6: 40;
  --font-size-7: 48;
  --font-size-8: 64;
  --font-size-9: 96;
  --letter-spacing-0: 0%;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
  --breakpoint-big-screen: 1200px;
  --breakpoint-medium-screen: 992px;
  --breakpoint-small-screen: 768px;
  --breakpoint-super-small-screen: 576px;
}
