html[data-theme='light'] {
  --color-global-primary-200: #E2F5FF;
  --color-global-primary-300: #C0D0E9;
  --color-global-primary-400: #71ADD9;
  --color-global-primary-500: #4687bd;
  --color-global-primary-600: #001F36;
  --color-global-secondary-200: #FFEDFD;
  --color-global-secondary-300: #F5B8EF;
  --color-global-secondary-400: #FF88F3;
  --color-global-secondary-500: #F85EFB;
  --color-global-semantic-info: #367CE5;
  --color-global-semantic-alert: #FFED48;
  --color-global-semantic-success: #5EF351;
  --color-global-semantic-error: #FF3A3A;
  --color-global-neutral-50: #FFFFFF;
  --color-global-neutral-100: #F5F5F5;
  --color-global-neutral-150: #E4E4E4;
  --color-global-neutral-300: #B3B3B3;
  --color-global-neutral-400: #7C7C7C;
  --color-global-neutral-500: #414141;
  --color-global-neutral-900: #101010;
  --color-global-neutral-1000: #000;
  --color-background-container-neutral1-normal: #FFFFFF;
  --color-background-container-neutral1-hover: #F5F5F5;
  --color-background-container-neutral1-click: #E4E4E4;
  --color-background-container-transparent050-normal: #FFFFFF80;
  --color-background-container-transparent050-hover: #F5F5F580;
  --color-background-container-transparent050-click: #E4E4E480;
  --color-background-container-transparent025-normal: #FFFFFF40;
  --color-background-container-transparent025-hover: #F5F5F540;
  --color-background-container-transparent025-click: #E4E4E440;
  --color-background-tag-neutral1-normal: #FFFFFF;
  --color-background-tag-neutral1-click: #B3B3B3;
  --color-background-tag-primary-normal: #C6DFF2;
  --color-background-tag-primary-click: #E2F5FF;
  --color-background-tag-neutral2-normal: #B3B3B3;
  --color-background-tag-neutral2-click: #B3B3B3;
  --color-background-tag-secondary-normal: #FF88F3;
  --color-background-tag-secondary-click: #F5B8EF;
  --color-background-button-primary-normal: #C0D0E9;
  --color-background-button-primary-hover: #E2F5FF;
  --color-background-button-secondary-normal: #FF88F3;
  --color-background-button-secondary-hover: #F5B8EF;
  --color-background-button-special-special1: conic-gradient(from 180deg at 50% 50%, #F85EFB 58.12499821186066deg, #4687bd 161.2499964237213deg, #71ADD9b8 279.3750071525574deg);
  --color-background-button-neutral-50-normal: #FFFFFF;
  --color-background-button-neutral-50-hover: #B3B3B3;
  --color-background-general-certifications: linear-gradient(90deg, #71ADD9 0%, #d1d1d1 100%);
  --color-background-general-navheader: #F5F5F5B8;
  --color-background-general-body: linear-gradient(180deg, #E2F5FF 0%, rgba(71, 77, 82, 0.08) 88.54%);
  --color-background-general-header: linear-gradient(236deg, rgba(91, 152, 198, 0.63) 7.41%, #E2F5FF 68.94%);;
  --color-background-general-footer: #414141;
  --color-background-general-concepts: linear-gradient(90deg, #D8ADD3 0.1%, #C1C1C1 98.41%);;
  --color-text-neutral-50: #FFFFFF;
  --color-text-neutral-100: #F5F5F5;
  --color-text-neutral-150: #E4E4E4;
  --color-text-neutral-300: #B3B3B3;
  --color-text-neutral-400: #7C7C7C;
  --color-text-neutral-500: #414141;
  --color-text-neutral-900: #101010;
  --color-icons-neutral-50: #FFFFFF;
  --color-icons-neutral-100: #F5F5F5;
  --color-icons-neutral-150: #E4E4E4;
  --color-icons-neutral-300: #B3B3B3;
  --color-icons-neutral-400: #7C7C7C;
  --color-icons-neutral-500: #414141;
  --color-icons-neutral-900: #101010;
  --color-view-shadow-primary: #4687bd;
  --color-view-shadow-secondary: #FF88F3;
  --color-view-shadow-neutral: #101010;
  --color-circle-header: linear-gradient(161deg, #FFF 16.19%, rgba(255, 255, 255, 0.00) 68.7%);
  --color-circle-values: linear-gradient(161deg, #FFF 27.08%, rgba(134, 134, 134, 0.00) 84.61%);
  --color-circle-concepts: linear-gradient(161deg, #FFF 22.45%, rgba(167, 167, 167, 0.00) 91.6%);
  --color-circle-certifications: linear-gradient(161deg, #FFF 25.3%, rgba(255, 255, 255, 0.00) 91.6%);
  --border-radius-circle: 100%;
  --border-radius-large: 16%;
  --border-radius-medium: 8%;
  --border-radius-small: 4%;
  --border-radius-zero: 0%;
  --typography-super-title: 700 96pt Roboto;
  --typography-title1: 700 64pt Roboto;
  --typography-title2: 600 48pt Roboto;
  --typography-title3: 600 40pt Roboto;
  --typography-title4: 600 32pt Roboto;
  --typography-subtitle: 600 24pt Roboto;
  --typography-body: 400 20pt Roboto;
  --typography-small: 500 16pt Roboto;
  --typography-super-small: 500 12pt Roboto;
  --typography-extra-small: 600 10pt Roboto;
  --font-families-roboto: Roboto;
  --line-heights-0: AUTO;
  --font-weights-roboto-0: ExtraBold;
  --font-weights-roboto-1: Bold;
  --font-weights-roboto-2: Regular;
  --font-weights-roboto-3: SemiBold;
  --font-size-0: 10;
  --font-size-1: 12;
  --font-size-2: 16;
  --font-size-3: 20;
  --font-size-4: 24;
  --font-size-5: 32;
  --font-size-6: 40;
  --font-size-7: 48;
  --font-size-8: 64;
  --font-size-9: 96;
  --letter-spacing-0: 0%;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
  --breakpoint-big-screen: 1200px;
  --breakpoint-medium-screen: 992px;
  --breakpoint-small-screen: 768px;
  --breakpoint-super-small-screen: 576px;
  --box-shadow-container-mild-normal: 0px 4px 64px 0px #7C7C7C26;
  --box-shadow-container-mild-hover: 0px 4px 64px 0px #41414105;
  --box-shadow-container-intense-normal: 0px 4px 32px 0px #41414141;
  --box-shadow-container-intense-hover: 0px 4px 32px 0px #41414105;
  --box-shadow-circle-header: 0px 4px 88px 0px #FFFFFF;
  --box-shadow-circle-values: 0px 4px 65px 0px #FFFFFF;
  --box-shadow-circle-certifications: 0px 4px 65px 0px #FFFFFF;
  --box-shadow-circle-concepts: 0px 4px 65px 0px #FFFFFF;
}
