.educationContainer {
  width: 100%;
  z-index: 1000000;
  padding: 160px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .header {
    width: 100%;
    font: var(--typography-title3);
    color: var(--color-text-neutral-900);
    text-align: right;
  }

  .titulationCards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 24px;
    justify-items: center;
    align-items: center;

    .seeCertifications {
      margin-top: 40px;
      max-width: 200px;
      display: flex;
      align-items: center;
      column-gap: 8px;

      span {
        font: var(--typography-subtitle);
        color: var(--color-text-neutral-900);
      }
    }
  }
}
@media (min-width: 992px) {
  .educationContainer {
    .titulationCards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr 1fr;
      gap: 24px;
    }
  }
}

@media (min-width: 768px) {
  .educationContainer {
    .header {
      grid-column: 1/3;
    }
  }
}
