.navMenu {
  width: calc(100% - 16px);
  height: 56px;
  margin: 8px 0px;
  padding: 8px 32px 8px 32px;
  position: -webkit-fixed;
  position: fixed;
  z-index: 10000000;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(16px);
  transition: height 0.5s;
  overflow-y: scroll;
  border-radius: 8px;
  background-color: var(--color-background-general-navheader);
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */

  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
  }

  .config {
    margin-bottom: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    color: var(--color-text-neutral-900);
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  .hamburgerButton {
    position: absolute;
    z-index: 1000000;
    right: 24px;
    color: var(--color-text-neutral-900);

    &:hover {
      color: var(--color-text-neutral-300);
      cursor: pointer;
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: -100vh;
    transition: top 0.8s ease;

    .homeLink {
      display: none;
    }

    .options {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: display 0.1s ease-in;
    }

    .navOptions {
      margin: 48px 0px;
      color: var(--color-text-neutral-900);
      font: var(--typography-title3);

      li {
        margin: 16px 0 16px 0px;
        position: relative;
        top: -8vh;
        opacity: 0;
        transition:
          top 1s ease,
          opacity 1s ease;

        a {
          position: relative;
          right: 0;
          text-align: center;

          &:hover {
            position: relative;
            right: 4px;
            color: var(--color-text-neutral-300);
            transition: right 0.04s ease-in-out;
          }
        }
      }
    }
  }

  .isContent-show {
    top: 0vh !important;
  }
  .isOptions-hidden {
    display: none !important;
  }
  .isNavOption-show {
    top: 0vh !important;
    opacity: 100 !important;
  }
}
.isNav-show {
  height: calc(100vh - 16px) !important;
}

@media (min-width: 576px) {
  .navMenu {
    .content {
      .navOptions {
        margin: 48px 64px;

        li {
          a {
            text-align: right;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navMenu {
    padding: 0px 30px 0px 30px;
    transition: none;

    .config {
      margin-left: 32px;
      margin-bottom: 0;
      width: auto;
      position: static;
      column-gap: 8px;
      opacity: 100;
    }
    .content {
      max-width: 1440px;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      // transition: none;

      .homeLink {
        display: block;
        color: var(--color-text-neutral-900);
        font: var(--typography-subtitle);

        :hover {
          cursor: pointer;
        }
      }

      .options {
        flex-direction: row;
      }

      .navOptions {
        margin: 0;
        display: flex;
        column-gap: 1.5em;
        font: var(--typography-small);
        transition: none;

        li {
          position: static;
          opacity: 100;
          transition: none;
          display: flex;
          align-items: center;

          a {
            &:hover {
              position: static;
              transition: none;
            }
          }
        }
      }
    }
  }
  .hamburgerButton {
    display: none;
  }
}

.resizeAnimationStopper * {
  animation: none !important;
  transition: none !important;
}
