.navMenu {
  position: -webkit-fixed;
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  padding: 16px 32px 0px 32px;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(16px);
  transition: height 0.5s;

  .config {
    margin-bottom: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    color: var(--color-text-neutral-900);
  }

  .hamburgerButton {
    position: absolute;
    z-index: 1000000;
    right: 24px;
    color: var(--color-text-neutral-900);

    &:hover {
      color: var(--color-text-neutral-300);
      cursor: pointer;
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: -100vh;
    transition: top 0.8s ease;

    .homeLink {
      display: none;
    }

    .options {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .navOptions {
      margin: 64px 40px;
      color: var(--color-text-neutral-900);
      font: var(--typography-title3);

      li {
        margin: 16px 0 16px 0px;
        position: relative;
        top: -8vh;
        opacity: 0;
        transition:
          top 1s ease,
          opacity 1s ease;

        a {
          position: relative;
          left: 0;

          &:hover {
            position: relative;
            left: 10px;
            color: var(--color-text-neutral-300);
            transition: left 0.1s ease-in;
          }
        }
      }
    }
  }
  .isContentShow {
    top: 0vh !important;
  }
  .isNavOptionShow {
    top: 0vh !important;
    opacity: 100 !important;
  }
}
.isNavOpen {
  height: 100vh !important;
}

@media (min-width: 992px) {
  .navMenu {
    padding: 8px 30px 0px 30px;
    transition: none;

    .config {
      margin-left: 32px;
      margin-bottom: 0;
      width: auto;
      position: static;
      column-gap: 8px;
    }
    .content {
      max-width: 1440px;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      transition: none;

      .homeLink {
        display: block;
        color: var(--color-text-neutral-900);
        font: var(--typography-subtitle);

        :hover {
          cursor: pointer;
        }
      }

      .options {
        flex-direction: row;
      }

      .navOptions {
        margin: 0;
        display: flex;
        column-gap: 1.5em;
        font: var(--typography-small);
        transition: none;

        li {
          position: static;
          opacity: 100;
          transition: none;
          display: flex;
          align-items: center;

          a {
            &:hover {
              position: static;
              transition: none;
            }
          }
        }
      }
    }
  }
  .hamburgerButton {
    display: none;
  }
}

.resizeAnimationStopper * {
  animation: none !important;
  transition: none !important;
}
